<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h2 class="text-white h4">Médicos</h2>

    <span class="text-muted">

      <ul>
        <% @medicos.each do |medico| %>
          <li>
              <a href="<%= medico_path(medico) %>">
                  <%= medico.nome %>
              </a>
          </li>
        <% end %>
        <%= link_to "Novo Medico", new_medico_path %>
      </ul>
    </span>
  </div>
</div>